@{
    ViewData["Title"] = "Index";
}


@section Styles{
    <link rel="stylesheet" href="~/admin/css/lib/datatable/dataTables.bootstrap.min.css">
}

@model List<Author>

<div id="createAuthorModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        @Html.Partial("_CreateAuthorPartial", new Author())
    </div>
</div>

<!-- Modal for editing Author -->
<div id="editAuthorModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div id="editAuthorModalContent"></div>
    </div>
</div>

<!-- Modal for deleting Author -->
<div id="deleteAuthorModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div id="deleteAuthorModalContent"></div>
    </div>
</div>

<div class="content">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong>Author </strong>
                    </div>
                    <div class="card-body">
                        <button id="openCreateModalBtn" type="button" class="btn btn-info"><i class="fa fa-plus-square"></i>&nbsp; Create Author</button>
                    </div>
                </div><!-- /# card -->
            </div>


            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Author List</strong>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Operation</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.Name</td>
                                        <td>
                                            <div class="w-75 btn-group" role="group">
                                                <button data-id="@item.Id" class="btn btn-success mx-2 openEditModalBtn">
                                                    <i class="fa fa-edit"></i> Edit
                                                </button>
                                                <button data-id="@item.Id" class="btn btn-danger mx-2 openDeleteModalBtn">
                                                    <i class="fa fa-trash-o"></i> Delete
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
</div><!-- .content -->
@section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // Open create Author modal
            $('#openCreateModalBtn').click(function () {
                $('#createAuthorModal').css('display', 'block');
            });

            // Close modal when clicking on 'x' button
            $('.close').click(function () {
                $('.modal').css('display', 'none');
            });

            // Open edit Author modal
            $('.openEditModalBtn').click(function () {
                var id = $(this).data('id');
                $.get('@Url.Action("Edit", "Author")', { id: id }, function (response) {
                    $('#editAuthorModalContent').html(response);
                    $('#editAuthorModal').css('display', 'block');
                });
            });

            // Open delete Author modal
            $('.openDeleteModalBtn').click(function () {
                var id = $(this).data('id');
                $.get('@Url.Action("Delete", "Author")', { id: id }, function (response) {
                    $('#deleteAuthorModalContent').html(response);
                    $('#deleteAuthorModal').css('display', 'block');
                });
            });
        });
    </script>

    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

